<!DOCTYPE html>
<html>
    <link rel = "stylesheet" href = "{{ url_for('static', filename='frontend2.css') }}">
            <!--link to css--->
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
        </style>
<body>
    <div class="everything">
        <h1>{{question}}</h1>
        <form id = 'myForm' action="/question" method="POST">
            <input type="hidden" name="all_questions" value="{{text}}"/>
            <input type="hidden" name="question" value="{{question}}"/>
            <textarea id="answer" name="answer" 
            autocomplete="off" data-gramm="false" 
            placeholder="Your answer here..." autocapitalize="sentences"></textarea>
            <input type="submit" hidden />
        </form>
    </div>

    <script>
        document.getElementById("answer").addEventListener("keydown", function(event) {
            // Check if the 'Enter' key is pressed
            if (event.key === "Enter" && !event.shiftKey) {
                // Prevent the default form submission
                event.preventDefault();
                // Submit the form
                document.getElementById("myForm").submit();
            }
        });
        </script>

</body>
</html>